
---
# Typical usage is to apply this to the lines you've modified in a local
# change. Stage your changes with "git add" and then run:
# $ git clang-format
# You can optionally use the "--" file filter to restrict formatting to certain
# files or directories. The tool will display  the list of files that were
# modified. These have been modified without being staged. You can review the
# modifications using "git diff".
#
Language:        Cpp
BasedOnStyle:  Google